.wpslf-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.wpslf-item {
    margin-bottom: 1rem;
    grid-column: var(--column);
    grid-row: var(--row);
    transform: translate(
        calc((var(--prev-column) - var(--column)) * 100%),
        calc((var(--prev-row) - var(--row)) * 100%)
    );
    transition: transform 0.3s ease;
    
    @starting-style {
        grid-column: var(--prev-column);
        grid-row: var(--row);
        transform: translate(0, 0);
    }
}
